.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
}

.sort-dropdown {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-left: 10px;
}

.tvshow-header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.tv-show-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.show-all-button {
  background-color: var(--header-bg-color, #343a40);
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  transition: background 0.3s;
  margin-left: 10px;
}

.show-all-button:hover {
  background-color: var(--header-hover-bg-color, #23272b);
}

.toggle-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin-left: 15px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #1e3c72;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.toggle-label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.auto-scroll-enabled {
  max-height: none;
  overflow: visible;
}

@media (max-width: 768px) {
  .tvshow-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-container {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }
}
